@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-size-200 {
    background-size: 200% 100%;
  }

  .bg-pos-0 {
    background-position: 0% 50%;
  }

  .bg-pos-100 {
    background-position: 100% 50%;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }

  .fade-up.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .fade-up-delay-100 {
    transition-delay: 0.1s;
  }

  .fade-up-delay-200 {
    transition-delay: 0.2s;
  }

  .fade-up-delay-300 {
    transition-delay: 0.3s;
  }

  .fade-up-delay-400 {
    transition-delay: 0.4s;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(250, 204, 21, 0.2);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(250, 204, 21, 0.4);
  }
}
